*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --colorMain: #E73E0D;
    --colorSub: /* #3f51b5; */ #fff;
    --colorTint: #FFE1D5;
    --colorAccent: /* #3f51b5; */ #E73E0D;
    --baseline: 1.5; /* 1.5 * 18 = 27px*/
    font-size: 1.125em; /* 18px */
    line-height: var(--baseline);
}

body {
    background-color: var(--colorSub);
    color: var(--colorMain);
}

section {
    background-color: var(--colorMain);
    color: var(--colorSub);
}

header,
footer,
.alternate {
    background-color: var(--colorSub);
    color: var(--colorMain);
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 60em;
    /* To see the outline of the form */
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}

section {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    margin-bottom: calc(var(--baseline)* 3rem);
    margin-bottom: calc(var(--baseline)* 3rem);
}

/* typo */
body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
    letter-spacing: 0.0em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    font-weight: normal;
}

/* typographic scale https://drewish.com/tools/vertical-rhythm/ */
h1 {
    font-size: 2.2222em; /* 40px */
    line-height: 1.3500; /* 54px */

}

h2 {
    font-size: 1.7222em; /* 31px */
    line-height: 1.7419em; /* 54px */
    margin-top: auto;
    margin-bottom: calc(var(--baseline)* 1rem);
}

/* mode debug */
pre {
    display: none;
}

/* Fields */
input,
textarea {

    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em 'IBM Plex Serif';

    /* To harmonize the look & feel of text field border */
    border-radius: 0.1em;
    border: 1px solid var(--colorMain);
}

input {
    /* To give the same size to all text fields */
    width: 10em;
    box-sizing: border-box;
}

textarea {
    /* To give the same size to all text fields */
    width: 49em;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
}

select {
    font-family: 'IBM Plex Serif';
    font-size: 1em;
    width: 14em;
    border-radius: 0.1em;
    border: 1px solid var(--colorMain);
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 0.75em;
    background-position: calc(100% - 0.75em) center;
    background-repeat: no-repeat;
    background-color: var(--colorTint);
}

/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.xforms-valid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.xforms-invalid input {
    background-color: #FDD;
}

.xforms-input,
.xforms-select1 {
    display: flex;
    flex-wrap: wrap;
}

.xforms-input .xforms-label,
.xforms-select1 .xforms-label {
    order: 1;
}

.xforms-input .xforms-required-icon,
.xforms-select1 .xforms-required-icon {
    order: 2;
}

.xforms-input .value,
.xforms-select1 .value {
    order: 3;
    flex-basis: 100%;
}

.xforms-input .xforms-help,
.xforms-select1 .xforms-help {
    order: 4;
}

.xforms-input .xforms-alert,
.xforms-select1 .xforms-alert {
    order: 5;
}


/* This is the style of our delete and insert trigger */


span.delete button {
    background-color: #d44949;
    visibility: visible;
    border: 0;
    height: 40px;
    width: 40px;
    display: flex;
    /* centre le texte du button (mais pas celui que l'on ajoute en css) */
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100%;
}

span.delete button span {
    visibility: hidden;
}
/* reste à centrer le texte du content */
span.delete button span:before {
    visibility: visible;
    content: 'x';
}

.insert {

}
