*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --colorMain: #fff;
  --colorSub: /* #3f51b5; */ #E73E0D;
  --colorAccent: /* #3f51b5; */ #E73E0D;
  --baseline: 1.5; /* 1.5 * 18 = 27px*/
  font-size: 1.125em; /* 18px */
  line-height: var(--baseline);
}

body {
  background-color: var(--colorSub);
  color: var(--colorMain);
}

main {
  background-color: var(--colorMain);
  color: var(--colorSub);
}

section {
  background-color: var(--colorMain);
  color: var(--colorSub);
}

header, footer, .alternate {
  background-color: var(--colorSub);
  color: var(--colorMain);
}

section {
  width: 100%;
  max-width: 47rem;
  margin: auto;
  margin-bottom: calc( var(--baseline) * 3rem);
  margin-bottom: calc( var(--baseline) * 3rem);
}

/* typo */
body {
  font-family: 'IBM Plex Serif', serif;
  font-weight: normal;
  letter-spacing: 0.0em
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: oblique;
  font-weight: normal;
}

/* typographic scale https://drewish.com/tools/vertical-rhythm/ */
h1 {
  font-size: 2.2222em; /* 40px */
  line-height: 1.3500; /* 54px */

}

h2 {
  font-size: 1.7222em; /* 31px */
  line-height: 1.7419em; /* 54px */
  margin-top: auto;
  margin-bottom: calc( var(--baseline) * 1rem);
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 52em;
  /* To see the outline of the form */
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

fieldset {
  border-radius: 0.2em;
  border: 1px solid #CCC;
  padding: 1.2em;
  margin-top: 1.2em;
}

legend {
  font-size: 1.2em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: block;
  text-align: left;
  padding-bottom: 0.3em;
}

.checkbox input {
  width: 1.2em;
}

.checkbox label {
  display: inline;
}

input, textarea {

  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input {
  /* To give the same size to all text fields */
  width: 10em;
  box-sizing: border-box;
}

textarea {
  /* To give the same size to all text fields */
  width: 49em;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 1.2em; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus.xforms-valid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}



.xforms-invalid input {
  background-color: #FDD;
};

.xforms-input input {
  border-color: #900;
}
