*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --colorMain: #E73E0D;
    --colorSub: /* #3f51b5; */ #fff;
    --colorTint: #FFE1D5;
    --colorAccent: /* #3f51b5; */ #E73E0D;
    --baseline: 1.5; /* 1.5 * 18 = 27px*/
    font-size: 1.125em; /* 18px */
    line-height: var(--baseline);
}

body {
    background-color: var(--colorSub);
    color: var(--colorMain);
}

section {
    background-color: var(--colorMain);
    color: var(--colorSub);
}

header,
footer,
.alternate {
    background-color: var(--colorSub);
    color: var(--colorMain);
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 60em;
    /* To see the outline of the form */
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}

section {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    margin-bottom: calc(var(--baseline)* 3rem);
    margin-bottom: calc(var(--baseline)* 3rem);
}

/* mode debug */
pre {
    display: none;
}

/*
 * Navigation
 */

nav {
    width: 100%;
    line-height: calc(var(--baseline)* 1.5rem);
    background: var(--colorSub);
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    max-width: 47em;
    margin: 0 auto;
    padding: 0;
}

nav ul a {
    display: block;
    padding: 0.02rem 1.4rem;
    font-weight: bolder;
}

nav ul li:first-child {
    margin-right: auto;
}

/* applied after scroll height reached */
.fixed-nav #navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    /*box-shadow: 0 0.005em 0.5em 0.01em var(--colorSub);*/
}

/* applied after scroll height reached */
.fixed-nav #navForm {
    position: fixed;    
    z-index: 1;

}


nav > ul > li > a {
    color: var(--colorMain);
    text-decoration: none;
    transition: background-size .45s;
}

nav > ul > li > a:hover {
    color: var(--colorMain);
    opacity: .7;
    background-size: 0.35em 0.35em;
}


/*
 * typo
 */
body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
    letter-spacing: 0.0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    font-weight: normal;
}

/* typographic scale https://drewish.com/tools/vertical-rhythm/ */
h1 {
    font-size: 2.2222em; /* 40px */
    line-height: 1.3500; /* 54px */

}

h2 {
    font-size: 1.7222em; /* 31px */
    line-height: 1.7419em; /* 54px */
    margin-top: auto;
    margin-bottom: calc(var(--baseline)* 1rem);
}

h3,
.xforms-case > .xforms-label {
  font-size: 1.334em; /* 18 * 1.334em = 24px */
  line-height: 1.125; /* 24 * 1.125 = 27px*/
  margin-bottom: calc( var(--baseline) * 1rem);
}

h3:before,
.xforms-case > .xforms-label:before {
  content: '';
  display: block;
  // height: 100%;
  width: 15%;
  /*border-bottom: calc( var(--baseline) * 0.1rem) solid ;*/
  margin-bottom: calc( var(--baseline) * 1rem);
}

h4, 
.xforms-case > .xforms-group > .xforms-label
{
  font-size: 1.2222em; /* 22px */
  line-height: 1.2273; /* 27px */
  margin: auto;
  margin-top: calc( var(--baseline) * 1rem);
}

h5,
.xforms-repeat-item > .xforms-label {
  font-size: 1.1111em; /* 20px */
  line-height: 1.350; /* 27px */
  /*margin: auto;*/
}

h6 {
  font-size: 1em;
  margin: auto;
}

p {
  margin-top: auto;
  margin-bottom: calc(var(--baseline) * 1rem);
}

sup {
  vertical-align: middle;
  font-size: smaller;
}

sup.note {
  font-size: 0.7em;
}

a {
    color: var(--colorMain);
    /* text-decoration: none; */
    transition: background-size .45s;
}

a:hover {
    color: var(--colorMain);
    opacity: .7;
    background-size: 0.35em 0.35em;
}

/*
 * Fields
 */

/* onglets */
#navForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.3em;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em 'IBM Plex Serif';

    /* To harmonize the look & feel of text field border */
    border-radius: 0.1em;
    border: 1px solid var(--colorMain);
}

input {
    /* To give the same size to all text fields */
    width: 100%;
    box-sizing: border-box;
    height: 1.6em;
}

textarea {
    /* To give the same size to all text fields */
    width: 49em;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
    width: 100%;
}

select {
    font-family: 'IBM Plex Serif';
    font-size: 1em;
    width: 100%;
    height: 1.6em;
    border-radius: 0.1em;
    border: 1px solid var(--colorMain);
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(231, 62, 13)'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 0.75em;
    background-position: calc(100% - 0.75em) center;
    background-repeat: no-repeat;
    background-color: var(--colorTint);
}

/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.xforms-valid {
    outline: none;
}

/* Hide base elements */
[type = "radio"],
[type = "checkbox"] {
    position: absolute;
    left: -9999px;
}

/* Position the <label> */
[type = "radio"] + label,
[type = "checkbox"] + label {
    position: relative;
    display: inline-block;
    height: 1em;
    line-height: 1.25em;
    padding-left: 2em;
    cursor: pointer;
}

/* SHARED STYLES - Radio & Checkbox - Unchecked */
[type = "radio"] + label:before,
[type = "checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border: 1px solid;
    background-color: #fff;
}

/* RADIO - Unchecked */
[type = "radio"]:checked + label:before,
[type = "radio"]:not(:checked) + label:before {
    border-radius: 50%;
}

/* RADIO - Checked */
/*@todo problème de centrage du point lorsqu'on zoom avec le navigateur*/
[type = "radio"]:checked + label:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    /*left: 0.23em;*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--colorMain);
}

/* CHECKBOX - Unchecked */
[type = "checkbox"]:not(:checked) + label:before {
    /* Add styles if needed */
}

/* CHECKBOX - Checked ( CSS Tick ) */
[type = "checkbox"]:checked + label:after {
    position: absolute;
    content: "";
    left: 0.375em;
    top: 0.1em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* Short Arm */
    width: 5px;
    border-bottom: 2px solid;
    /* Long Arm */
    height: 11px;
    border-right: 2px solid;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.xforms-invalid input {
    background-color: #FDD;
}

.xforms-input,
.xforms-select1,
.xforms-select,
.xforms-textarea {
    display: inline;
    flex-wrap: wrap;
    align-content: flex-start;
}

.xforms-input .xforms-label,
.xforms-select1 .xforms-label,
.xforms-select .xforms-label,
.xforms-textarea .xforms-label {
    order: 1;
}

.xforms-input .xforms-required-icon,
.xforms-select1 .xforms-required-icon,
.xforms-select .xforms-required-icon,
.xforms-textarea .xforms-required-icon {
    order: 2;
}

.xforms-input .value,
.xforms-select1 .value,
.xforms-select .value,
.xforms-textarea .value {
    order: 3;
    flex-basis: 100%;
}

.xforms-input .xforms-help,
.xforms-select1 .xforms-help,
.xforms-select .xforms-help,
.xforms-textarea .xforms-help
{
    order: 4;
}

.xforms-input .xforms-alert,
.xforms-select1 .xforms-alert,
.xforms-select .xforms-alert,
.xforms-textarea .xforms-alert {
    order: 5;
}

/* this hide the calendar button */
button.aid-button {
    display: none;
}

/* This is the style of our delete and insert trigger */

.delete,
.insert {
    display: flex;
    position: relative;
}

.delete {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: end;
    /*right: -1em;*/

}

.insert {
    left: ;
}

.repeat > .xforms-repeat-item > .delete:last-of-type {
    right: -2em;
}

.delete span.value,
.insert span.value {
    position: relative;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

.delete span.value {
    -webkit-mask: url(picol/cancel.svg) no-repeat 50% 50%;
    mask: url(picol/cancel.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--colorMain);
    background-size: 1em 1em;
}

.insert span.value {
    -webkit-mask: url(picol/plus.svg) no-repeat 50% 50%;
    mask: url(picol/plus.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--colorMain);
}

.delete button,
.insert button {
    border: 0;
    display: none;
}

.delete button span,
.insert button span {
    display: none;
}

.delete .xforms-help-icon,
.insert .xforms-help-icon {
    display: none;
}

.delete .xforms-help-value,
.insert .xforms-help-value {
    visibility: hidden;
}

.delete:hover .xforms-help-value,
.insert:hover .xforms-help-value {
    display: inline-block;
    visibility: visible;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
}

.xforms-group {
    grid-column-start: 1;
    grid-column-end: 5;
}

.xforms-group:after {
    content: " ";
    display: block;
    border-bottom: 0.1rem solid;
    margin-bottom: calc( var(--baseline) * 0.9rem);
    margin-top: calc( var(--baseline) * 1rem);
    width: 15%;
}

.xforms-group .xforms-group:last-of-type:after {
    content: " ";
    display: block;
    border: 0;
    margin-bottom: calc( var(--baseline) * 0.9rem);
    margin-top: calc( var(--baseline) * 1rem);
    width: 15%;
}

.xforms-control > .xforms-label {

}

.repeat {
    background-color: var(--colorTint);
    border: 1em solid var(--colorTint)
}

.repeat .xforms-repeat {
    
}

/*.xform-repeat-item {
    display: flex;
    flex-direction: row;
}*/


.xsltforms-range-rail {
    width: 3em;
    height: 1.6em;
    border: 1px solid;
    position: relative;
    margin: 6px 15px 0 10px;
    display: inline-block;
    border-radius: 20px;
}

.xsltforms-range-cursor {
    margin: 0;
    margin-top: 0.3em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    position: absolute;
    background-image: none;
    outline-style: none;
    background-color: var(--colorMain);
    border-radius: 100%;
}

.xsltforms-range-value {
    display:none;
}

.xforms-group-content, .xforms-repeat-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
}

.xforms-input {
    grid-column: auto / span 2;
}

.xforms-select1 {
    grid-column: auto / span 2;
}

xforms-group-content xforms-group {
    grid-column-start: 1;
    grid-column-end: 5;
}

.xforms-appearance-full, .xforms-appearance-minimal, .xforms-textarea, .xforms-repeat, .xforms-repeat +.xforms-trigger {
    grid-column-start: 1;
    grid-column-end: 5;
}

.xforms-label {
    grid-column-start: 1;
    grid-column-end: 5;
}

.xforms-item .xforms-input {
    grid-column: inherit;
}

.xforms-choices {
    font-weight: normal;
    font-style: normal;
}

table {
  table-layout: fixed;
  width: 100%;
  /*  white-space: nowrap; */
}

.openKeywords {
   border-radius: 12px;
   border:0.15em, solid, var(--colorMain);
   padding: 0.1em 0.5em 0.1em 0.5em ;
   
}

.openKeywords, .closeKeywords {
    cursor:pointer;
    color: white;
    background-color: var(--colorMain); 
    border-radius: 0.2em;
}

.closeKeywords {
    padding-left: 0.35em;
    padding-right: 0.35em;
}

.closeKeywords {
    float: right
}

.keywords {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--colorTint);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll;
  scrollbar-color: white var(--colorMain);
  scrollbar-width: thin;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.keywords > h2 {
    margin-left: 1.3em;
}

.keywords > span {
    align-self: flex-end;
    margin-right: 3em;
    -webkit-mask: url(picol/cancel.svg) no-repeat 50% 50%;
    mask: url(picol/cancel.svg) no-repeat 50% 50%;
    mask-size: auto;
    -webkit-mask-size: cover;
    mask-size: cover;
    color: var(--colorMain);
    background-color: var(--colorMain);
    background-size: 1em 1em;
}

.keywords > span:hover {
    opacity: .7;
}

.keywords .xforms-group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keywords span.xforms-select {
    display: inline;
    width: 18em;
    margin-bottom: 1em;
}


.keywords .xforms-item,
.xforms-optional .xforms-item,
.xforms-itemset .xforms-item,
.xforms-select1 .xforms-item {
    margin-top: 0.2em;
}


/* cette règle s’applique généralement */
.xforms-label span {
    font-weight: bolder;
    display:block;
}

form.gip {
    width: inherit;
}

form.gip > .xforms-switch > .xforms-case > span {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

form.gip > .xforms-switch > .xforms-case > span > label {
    flex:1 1 100%;
}

form.gip > .xforms-switch > .xforms-case > span > span.data{
    flex: 4;
    padding-right: 1.2em;
}

form.gip > .xforms-switch > .xforms-case > span > span.form {
    flex: 7;
}

button {
    cursor:pointer;
    line-height: calc(var(--baseline)* 1.5rem);
    color: var(--colorMain) ;
    background-color: var(--colorSub); 
    border:0.15em solid;
    border-radius: 0.2em;
    border-color:  var(--colorMain);
    box-shadow: none;
    outline: none;
    margin-left: -0.15em;
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
    letter-spacing: 0.0em
}

button:hover {
    background-color: var(--colorMain);
    color: var(--colorSub);
}

span.save {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

span.save .xforms-control {
    margin: 0 1em 0 1em;
}

/*
 * stylage des listes
 */

/* in progress | completed |  */
[status='in progress'] h3::before {
    display: inline;
    content: '~ ';
}

[status='to revise'] h3::before {
    display: inline;
    content: '± ';
}

[status='completed'] h3::before {
    display: inline;
    content: '∞ ';
}
